.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding:0px;
  background-color: #f3f4f6;
  
}

/* .card { */
  /* background-color: #6c4040;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
} */

/* .card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.9rem;
  color: #555;
}

.card button {
  margin-top: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #45a049;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: aqua burlywood;
}
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}  */

/* .page-container {
  display: flex;
  padding: 0px;
  margin-bottom: 0px;

} */

/* .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  flex: 1;
} */