.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding:0px;
  background-color: #f3f4f6;
  
}
