.place-detail-container {
  max-width: 100vw;
  min-height: 100vh;
  padding: 40px 0px ;
  background-color: #e2e8f0;
  text-align: center;
  background-size: cover;
}

.place-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  transition: all 0.3s ease;
  
}
/* .place-title:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
} */

.place-image {
  width: 50%;
  height: 50%;
  object-fit:fill;
  align-items: flex;
  border-radius: 12px;
  border:4px solid ;
  margin-bottom: 20px;
}
.place-image:hover {
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  filter: brightness(1);
}

.place-description {
  font-size: 21px;
  line-height: 1.6;
  text-align: flex ;
  color: #444;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}


