.post-container {
  max-width: 100vw;
  margin: 0px 0px;
  /* padding: 40px 0px; */
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: auto;
}

.post-form input,
.post-form textarea {
  padding: 12px;
  
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.post-form textarea {
  height: 120px;
  resize: vertical;
}

.post-form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-form button:hover {
  background-color: #218838;
}
